.story {
  padding-top: 28px;
  padding-left: 30%;
  padding-right: 30%;
  text-align: justify;
}

.header{
  text-decoration: none;
  color: #261011;
}

.header:hover {
  text-decoration: none;
  color: #261011;
}

.top-pic {
  display: block;
  /* width: 500px; */
  height: 500px;
  margin-left: 23%;
  margin-right: 23%;
  border: 0;
  padding-top: 45px;
  vertical-align: baseline;
}

.picture {
  width: 300px;
}

#under {
  position: unset;
  margin-bottom: 20px;
}

@media(max-width: 768px) {
  .top-pic{
    margin: 0;
    text-align: justify;
  }
}

@media(max-width: 576px) {
  .top-pic{
    margin: 0;
    padding: 0;
    border: 0;
    text-align: justify;
  }
}

