.story {
  padding-top: 0px;
  padding-left: 30%;
  padding-right: 30%;
  text-align: justify;
}

.header{
  text-decoration: none;
  color: #261011;
}

.header:hover {
  text-decoration: none;
  color: #261011;
}

h5 {
  text-align: right;
  font-weight: lighter;
  font-family: 'Raleway', sans-serif;
}



.top-story {
  height: 450px;
  background: no-repeat center center;
  background-size: auto;
  background-size: cover;
  background-position: center;
  padding-top: -6px;
  margin-top: 75px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.picture {
  width: 300px;
}

#under {
  position: unset;
  margin-bottom: 20px;
  margin-left: 0px;
}


@media(max-width: 768px) {
  .top-story {
    height: 500px;
  }
  .story {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media(max-width: 576px) {
  .story {
    padding-left: 10%;
    padding-right: 10%;
  }
}


