.story {
  padding-top: 0px;
  padding-left: 30%;
  padding-right: 30%;
  text-align: justify;
}

.header{
  text-decoration: none;
  color: #261011;
}

.header:hover {
  text-decoration: none;
  color: #261011;
}

.image-btn-box {
  position: relative;
  /*width: 100%*/
}

.image-btn-box .buddha {
  width: 100%;
}

h5 {
  text-align: right;
  font-weight: lighter;
  font-family: 'Raleway', sans-serif;
}

.top-story {
  height: 450px;
  background: no-repeat center center;
  background-size: auto;
  background-size: cover;
  background-position: center;
  padding-top: -6px;
  margin-top: 75px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#myVideo {
  width: 100%;
  padding-top: -6px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.image-btn-box .btn-ghost {
  top: 25%;
  right: 5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  position: absolute;
  width: 108px;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.btn-ghost:hover {
  opacity: 1;
  color: black;
}

.picture {
  width: 300px;
}

#under {
  position: unset;
  margin-bottom: 20px;
  margin-left: 0px;
}


@media(max-width: 768px) {
  .top-story {
    height: 500px;
  }
  .story {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media(max-width: 576px) {
  .story {
    padding-left: 10%;
    padding-right: 10%;
  }
}


